

body {
    margin: 0;
    padding: 0;

}

.container {
    margin: 0;
    padding: 0;
    border: 3px solid blue;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
 

}

.row {
    flex: 1;
    margin: 0;
    padding: 0;

    display: flex;


   

}

.col {
    border: 1px solid black;
    flex: 1;
}