

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #FF4365, orange);

}

h1 {
    font-size: 48px;
    text-align: center;
    padding: 0;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#setGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.gridText{
    font-size: 28px;
    padding-top: 20px;
}



#rangeText {
    display: flex;
    font-size: 18px;

}

.container {
    margin: 0 auto;
    padding: 0;
    border: 3px solid #00D9C0;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 0 0 black;
    background-color: white;
    

}

.addGrid {
    display: flex;
    justify-content: center;
}

.row {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;

}

.col {
    flex: 1;
}

#buttons {
    margin: 5px;
}

button {
    font-size: 18px;
    width: 120px;
    padding: 15px 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFFF3;
}

button:hover {
    background-color: #B7AD99;
    color: white;
}
